
@font-face {
    font-family: 'Libre Franklin', sans-serif;
    src: url(../static/assets/LibreFranklin-Regular.ttf)
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
}

.main {
    margin: 20px auto;
    width: 90%;
    margin-bottom: 100px;
}

.mainVector {
    margin: 100px auto;
    width: 60%;
    max-width: 900px;
}

#upload-area {
    margin-top: 20px;
    height: 100px;
    border: 3px dashed gray;
    border-radius: 10px;
    background-color: whitesmoke;
    font-weight: 100;
    font-family: 'Libre Franklin', sans-serif;
}
#upload-area:hover {
    cursor: pointer;
}
#upload-area:active {
    border: 3px solid blue;
}

#redactSubmit {
    height: 50px;
    width: 125px;
    background-color: #eff0ef;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    display: none;
    font-family: 'Libre Franklin', sans-serif;
}

#vectorizerSubmit {
    height: 50px;
    width: 125px;
    background-color: #eff0ef;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    font-family: 'Libre Franklin', sans-serif;
}
#vectorizerSubmit:hover {
    background-color: darkgray;
    cursor: pointer;
}

.submitText {
    padding-top: 10px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 400;
}

#redactSubmit:hover {
    background-color: darkgray;
    cursor: pointer;
}

#redacted-content {
    width: 75%;
}

.redacted {
    background-color: yellow;
}
.redacted-paragraph {
    margin-top: 10px;
}

.redacted-header {
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px
}

.download {
    height: 100px;
    width: 250px;
    font-weight: bold;
    font-size: 22px;
    background-color: #eff0ef;
    border: 1px solid lightgray;
    text-align: center;
    margin-left: 50px;
    margin-top: 20px;
}

.download:hover {
    background-color: darkgray;
    cursor: pointer;
}

.upload-photo {
    height: 500px;
    width: 100%;
    margin-top: 30px;
    background-image: url("../static/assets/uploadedContracts.png");
    background-size: cover;
}