{% extends "base.html" %}

{% block content %}
<div class="main">
    <h1 style="font-weight: bold;">Upload Document</h1>
    <input type="file" name="file" style="display: none;" onchange="alter()">
    <div id="upload-area">
        <h4 style="margin-left: 10px">Drop a docx or pdf file here, or click to select a file to upload.</h4>
        <h4 style="margin-left: 10px; font-weight: bold" id="upload-confirmation"></h4>
    </div>
    <a href="/redact">
        <div id="redactSubmit">

            <div class="submitText">Redact...</div>
        </div>
    </a>
</div>
{% endblock %}

