{% extends "base.html" %}

{% block content %}
<div class="main">
    <h2>Redacted Document</h2>
    <div id="redacted-content">
        <div class="redacted-paragraph"><span class="redacted">[Organization]</span>, Ltd.</div>
        <div class="redacted-paragraph"><span class="redacted">[Address]</span></div>
        <div class="redacted-paragraph">ACN: <span class="redacted">[Number]</span></div>
        <div class="redacted-paragraph">THIS MASTER SERVICES AGREEMENT (the "Agreement") is made and entered into as of <span class="redacted">[Date]</span> (the "Effective Date") between <span class="redacted">[Organization]</span> Ltd (ABN: <span class="redacted">[Number]</span>), with its office at <span class="redacted">[Address]</span> (the "Company") and <span class="redacted">[Organization]</span> Ltd., <span class="redacted">[Address]</span> ("<span class="redacted">[Organization]</span>").</div>
        <div class="redacted-paragraph">WHEREAS,
            <ul>
                <li>I. The Company provides business services to the law firm known as <span class="redacted">[Organization]</span>;</li>
                <li>II. <span class="redacted">[Organization]</span> provides consulting, technology and outsourcing services to law firms and corporations; and</li>
                <li>III. The Company desires to retain and <span class="redacted">[Organization]</span> agrees to provide those services specified herein in
                    accordance with the terms and conditions provided in this Agreement.</li>
            </ul>
        </div>
        <div class="redacted-paragraph">THEREFORE, the parties agree as follows:</div>
        <div class="redacted-header">DEFINITIONS</div>
        <div class="redacted-paragraph">
            <ul>
                <li>1.1 "Affiliates" means any individual, corporation, partnership, limited liability company, trust, or legal
                    entity which controls, is controlled by, or are under common control with the referenced party.</li>
                <li>1.2 "<span class="redacted">[Organization]</span>" means the law firm <span class="redacted">[Organization]</span> (ABN <span class="redacted">[Number]</span>) and the totality of the entities (including all partnerships, trusts and companies) carrying on business under the name <span class="redacted">'[Organization]'</span> and derivatives of that name, from time to time, including <span class="redacted">[Organization]</span> and any predecessor entities, successors or assignees.</li>
                <li>1.3 "Company Properties" means all pre-existing materials owned or developed by or licensed by the Company, including Work Products.</li>
                <li>1.4 "Confidential Information" includes, but is not limited to, any non-public information, know-how, concepts, ideas, sales or client information, vendor information, information relating to any technology, software, future products and/or trade secrets that:
                    <ul>
                        <li>is designated as confidential by either party; and/or</li>
                        <li>Any reasonable person knows or should know to be confidential.</li>
                    </ul>
                </li>
                <li>“Confidential Materials” means any and all tangible media or materials that contains or discloses Confidential Information, including any paper documents, computer drives, computer tapes and other computer memory devices in human or machine readable formats.</li>
                <li>“Discloser” means the party disclosing Confidential Information.</li>
                <li>"<span class="redacted">[Organization]</span> Properties” means all pre-existing intellectual property of <span class="redacted">[Organization]</span>, including but not limited to methodologies, know-how, tool kits, processes, systems, software, created or otherwise acquired by <span class="redacted">[Organization]</span>.</li>
                <li>“Expenses” means all expenses reasonably incurred by <span class="redacted">[Organization]</span> and its personnel in course of performing the Services.</li>
                <li>“Fees” means any rates, charges, Expenses and other amounts specified in the applicable Statement of Work for Services rendered.</li>
                <li>“Receiver” means the party receiving Confidential Information.</li>
                <li>“Services” means all consulting, programming, outsourcing and other related services as requested
                    by the Company and provided by <span class="redacted">[Organization]</span> or its Affiliates from time to time.</li>
                <li>“Statement(s) of Work or SOW” means a Services request in a form similar to Exhibit A, mutually agreed and executed by the parties and made a part of this Agreement.</li>
                <li>“Term” means the term of the Agreement as provided in Section 4 below.</li>
                <li>“Work Products” means any and all documents, information, material or other creation and/or deliverables, excluding any <span class="redacted">[Organization]</span>, produced by <span class="redacted">[Organization]</span> in the performance of the Services.</li>
            </ul>
        </div>
        <div class="redacted-header">SERVICES</div>
        <div class="redacted-paragraph"><span class="redacted">[Organization]</span> shall provide the Services documented in a Statement of Work to the Company at the instruction of an authorised person of the Company. The terms of a Statement of Work shall be incorporated into and form a part of this Agreement. If there is a conflict between this Agreement and a Statement of Work, the terms of this Agreement will govern, unless expressly stated otherwise in the Statement of Work.</div>
        <div class="redacted-header">PRICING, INVOICING AND PAYMENT</div>
        <div class="redacted-paragraph">Fees and Invoicing. The Company will pay Fees to <span class="redacted">[Organization]</span> in a timely manner. The Company agrees to
            make payments of all undisputed amounts due to <span class="redacted">[Organization]</span> within thirty (30) days from the date of invoice. The Company will be responsible for paying all applicable taxes, including but not limited to sales tax, excise duty, VAT, excluding any taxes based upon <span class="redacted">[Company]</span>’s income or payroll. Fees for Services will be considered earned as the Services are performed.</div>
        <div class="redacted-paragraph">Late Payment. Any invoice not paid when due shall bear interest <span class="redacted">[Percentage] per annum</span></div>
        <div class="redacted-paragraph">Annual Price Adjustments. <span class='redacted'>[Company]</span> shall have the right to submit changes to the pricing annually from the date of the SOW for changes to the applicable wage inflation rate for the country from which the Services are delivered. <span class='redacted'>[Company]</span> shall send a notification of the pricing change to the Company thirty (30) days prior to the effective date of the change.</div>
        <div class="redacted-paragraph">Currency adjustments. Where the payment under any SOW is being made in US Dollars, at the end of each six (6) month period, starting from the Effective Date of such SOW, the pricing will be adjusted up or down for any change in the foreign exchange rate from the currency of the country from which the Services are delivered per USD $1. In the event of a Currency Adjustment, <span class='redacted'>[Company]</span> shall send a notification of the pricing change to the Company thirty (30) days prior to the effective date of the change.</div>
        <div class="redacted-paragraph">Expenses. The Company shall reimburse <span class='redacted'>[Company]</span> for Expenses incurred in accordance with the Company’s reimbursement policy, as provided to <span class='redacted'>[Company]</span> from time to time. Such Expenses shall include but not be limited to travel costs, lodging, telephone, meal expenses and per diem. Expenses must be authorised in advance.</div>
        <div class="redacted-header">TERM AND TERMINATION</div>
        <div class="redacted-paragraph">Term. The Term of this Agreement shall commence as of the Effective Date and shall continue
            thereafter for <span class="redacted">[number]</span> calendar years. The Term shall automatically renew for successive one (1) calendar year unless terminated in accordance with the below termination clause. Each Statement of Work may have its own termination provisions. Notice of termination or termination of any Statement of Work shall not be considered notice of termination or termination of this Agreement.</div>
        <div class="redacted-paragraph">Termination for Convenience. Either party may terminate this Agreement without cause upon sixty (60) days’ written notice to the other party.</div>
        <div class="redacted-paragraph">Termination for Cause. Either party may terminate this Agreement at any time in the event of the following:
            <ul>
                <li>I. Immediately, if a voluntary arrangement is approved, a bankruptcy or administration order is made or an administrative receiver is appointed over any of the other party's assets; an undertaking or a resolution or petition to wind up the other party is passed or presented (other than for the purposes of amalgamation or reorganisation); and/or any circumstances arise which entitle a court or a creditor to appoint an administrative receiver or to present a winding-up petition or make a winding-up order in respect of the other party; or</li>
                <li>II. Upon thirty (30) days’ notice of material breach of this Agreement if the notified Party fails to cure such breach within such notice period.</li>
            </ul>
        </div>
        <div class="redacted-paragraph">Outcome of Termination. In the event of termination:
            <ul>
                <li>I. Both parties shall return or destroy all Confidential Information of the other party;</li>
                <li>II. <span class='redacted'>[Company]</span> shall deliver all Work Products to the Company in its then current form; and</li>
                <li>III.The Company shall pay <span class='redacted'>[Company]</span> for all Services duly authorised by the Company and actually
                    performed by <span class='redacted'>[Company]</span>, including for any Work Products (whether complete or in draft form), delivered to the Company. In addition, the Company shall also pay for any approved Expenses incurred by <span class='redacted'>[Company]</span>. </li>
            </ul>
        </div>
        <div class="redacted-header">INTELLECTUAL PROPERTY</div>
        <div class="redacted-paragraph">Company Properties. All Company Properties shall remain the sole and exclusive property of the
            Company.</div>
        <div class="redacted-paragraph"><span class='redacted'>[Company]</span> Properties. <span class='redacted'>[Company]</span> Properties shall remain the sole and exclusive property of <span class='redacted'>[Company]</span>. <span class='redacted'>[Company]</span> retains all rights, copyright, patent and other intellectual property rights in such <span class='redacted'>[Company]</span> Properties. <span class='redacted'>[Company]</span> may use, modify, disclose or otherwise commercially exploit <span class='redacted'>[Company]</span> Properties for other clients. If any <span class='redacted'>[Company]</span> Properties is used in any Work Product:
            <ul>
                <li>Such <span class='redacted'>[Company]</span> Property shall remain the property of <span class='redacted'>[Company]</span>; and</li>
                <li>Subject to full payment for the Work Product by the Company, <span class='redacted'>[Company]</span> grants a non-
                    exclusive, perpetual and royalty free license to the Company use the <span class='redacted'>[Company]</span> Properties incorporated in Company Properties.</li>
            </ul>
        </div>
        <div class="redacted-paragraph">Third Party Properties. Nothing herein shall cause or imply any sale, license or other transfer of third party software or products from one party to the other.</div>
        <div class="redacted-header">CONFIDENTIALITY</div>
        <div class="redacted-paragraph"><span class='redacted'>[Company]</span> executed a Confidentiality Deed Poll on 4 October 2017; the terms of this Deed Poll form
            part of this Agreement and will continue to apply to all Confidential Information provided to <span class='redacted'>[Company]</span> by the Company. To the extent of any inconsistency, the terms of the Deed Poll prevail over this Agreement.</div>
        <div class="redacted-paragraph">Confidentiality Obligations. Confidential Information may be disclosed in writing, orally or visually. The Receiver shall:
            <ul>
                <li>I. Maintain the Confidential Information of the Discloser in confidence using the same degree of care as it uses to maintain its own confidential information of like nature, but no less than a reasonable degree of care;</li>
                <li>II. Disclose Confidential Information to its employees, associates, affiliates, subsidiaries and subcontractor only on a need to know basis; and</li>
                <li>III. Ensure that the person receiving Confidential Information knows of its confidential nature and has executed a confidentiality agreement with similar confidentiality obligations with the Receiver.</li>
            </ul>
        </div>
        <div class="redacted-paragraph">Exclusions to Confidential Information. The following types of information, however marked, shall not be considered as Confidential Information. Information that:
            <ul>
                <li>I. Is, or becomes, publicly available without a breach of this Agreement;</li>
                <li>II. Was lawfully known to the Receiver without an obligation to keep it confidential;</li>
                <li>III. Is received from another source who can disclose it lawfully and without an obligation to keep it confidential; or</li>
            </ul>
        </div>
        <div class="redacted-header">REPRESENTATIONS AND WARRANTIES</div>
        <div class="redacted-paragraph">Company Representations and Warranties. The Company represents and warrants that it has:
            i. All rights, titles or interests in Company Properties as required for performance of its obligations under this Agreement; and
            ii. The authority and the legal right to permit <span class='redacted'>[Company]</span> to perform the Services described in this Agreement or any SOW.</div>
        <div class="redacted-paragraph"><span class='redacted'>[Company]</span> Representations and Warranties. <span class='redacted'>[Company]</span> represents and warrants that:
            i. It has all rights, title or interest in <span class='redacted'>[Company]</span> Properties required for performance of its
            obligations under this Agreement;
            ii. It has the legal authority to provide the Services described in this Agreement or any SOW;
            and
            iii. The Services provided under this Agreement or any SOW will be:
            (a) provided with professional care and skill and technical knowledge, and taking all steps to avoid loss or damage;
            (b) delivered within a reasonable time if no time frame is agreed; and
            (c) performed by trained professionals in accordance with the agreed specifications
            and all applicable industry standards.
            Any claims related to breach of <span class='redacted'>[Company]</span>’s representation or warranty must be made in writing, within ninety (90) days of completion of Services or the related Work Products. <span class='redacted'>[Company]</span> shall have thirty (30) working days from the receipt of such notice to remedy the breach, failing which, the Company shall have the right to terminate the relevant SOW relating to the Services or Work Product in accordance with Section 4.3 of this Agreement.</div>
        <div class="redacted-paragraph">No Other Warranty. EXCEPT AS PROVIDED IN THIS SECTION 7, <span class='redacted'>[Company]</span> MAKES NO REPRESENTATION OR WARRANTY OF ANY KIND, WHETHER EXPRESS OR IMPLIED, FROM A COURSE OF PERFORMANCE OR DEALING, TRADE USAGE OR OF UNINTERRUPTED OPERATION WITHOUT ERROR, INCLUDING BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. <span class='redacted'>[Company]</span> MAKES NO GUARANTEES WITH REGARD TO THE RESULTS OBTAINED FROM THE OPERATION OR USE BY THE COMPANY OF THE WORK PRODUCTS OR <span class='redacted'>[Company]</span> PROPERTIES. THE LIMITED WARRANTIES SET FORTH IN THIS AGREEMENT ARE MADE FOR THE BENEFIT OF THE <span class='redacted'>[Company]</span>S GROUP ONLY AND NOT FOR THE BENEFIT OF ANY THIRD PARTY.</div>
        <div class="redacted-paragraph">Limitation of Damages. EXCEPT FOR THE INDEMNIFICATION AND CONFIDENTIALITY OBLIGATIONS SET FORTH IN THIS AGREEMENT, NEITHER PARTY SHALL HAVE ANY LIABILITY TO THE OTHER PARTY WHATSOEVER FOR CONSEQUENTIAL, INDIRECT, EXEMPLARY, INCIDENTIAL OR PUNITIVE DAMAGES OF ANY KIND, INCLUDING WITHOUT LIMITATION, FOR LOSS OF PROFIT, REVENUE OR BUSINESS, EVEN IF <span class='redacted'>[Company]</span> HAS BEEN ADVISED OF POSSIBILITY OF SUCH DAMAGES.</div>
        <div class="redacted-paragraph">Limitation of Liability. EXCEPT FOR THE INDEMNIFICATION OR CONFIDENTIALITY OBLIGATIONS SET FORTH IN THIS AGREEMENT, EACH PARTY’S LIABILITY TO THE OTHER PARTY FOR ANY REASON AND UPON ANY CAUSE OF ACTION, WHETHER IN TORT, CONTRACT, OR ANY OTHER LEGAL THEORY, SHALL AT ALL TIMES AND IN THE AGGREGATE BE LIMITED TO THE AMOUNT OF THE FEES OR COMMISSION ACTUALLY PAID BY THE COMPANY TO <span class='redacted'>[Company]</span>UNDER THE STATEMENT OF WORK RELATING TO THE CAUSE OF ACTION, PROVIDED THAT SUCH LIABILITY SHALL NOT EXCEED THE TOTAL OF SUCH FEES PAID DURING THE TWELVE (12) MONTH PERIOD PRECEDING THE EVENT UPON WHICH LIABILITY IS PREDICATED.</div>
        <div class="redacted-header">INDEMNIFICATION</div>
        <div class="redacted-paragraph">Either party (“Indemnitor”) shall indemnify and hold harmless the other party, its affiliates, directors,
            agents and employees (“Indemnitee”) against all claims, losses, damages or expenses arising out of or in relation to:
            i. Willful misconduct or gross negligence of the Indemnitor;
            ii. Damage to property, death or personal injury caused by acts or omissions of the Indemnitor;
            and /or
            iii. Breach of confidentiality obligations.</div>
        <div class="redacted-paragraph">In addition to the above, <span class='redacted'>[Company]</span> shall hold the Company harmless against all claims, losses, damages or expenses arising out of or in relation to any infringement or allegations of infringement by a third party that any Work Product or <span class='redacted'>[Company]</span> Properties infringe or is likely to infringe a third party’s intellectual property rights, moral rights or other proprietary rights.</div>
        <div class="redacted-header">BENEFIT</div>
        <div class="redacted-paragraph">While <span class='redacted'>[Company]</span>s is the party entering into this Agreement <span class='redacted'>[Company]</span> acknowledges and agrees that the products and services to be provided under this Agreement can be used by the <span class='redacted'>[Company]</span>s Group and any officers, employees, agents or contractors of any of the <span class='redacted'>[Company]</span>s Group, subject at all times to the terms of this Agreement.</div>
        <div class="redacted-header">Agreed and Accepted:</div>
        <div class="redacted-paragraph"><span class="redacted">[Signature]</span></div>
        <div class="redacted-paragraph"><span class="redacted">[Signature]</span></div>
        <div class="redacted-paragraph"><span class="redacted">[Signature]</span></div>
        <div class="redacted-paragraph"><span class="redacted">[Signature]</span></div>


    </div>
    <a href="/vectors">
        <div id="vectorizerSubmit">
            <div class="submitText">Vectorize...</div>
        </div>
    </a>
</div>
{% endblock %}